


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."LibraryItemType" AS ENUM (
    'PLAYLIST',
    'VIDEO'
);


ALTER TYPE "public"."LibraryItemType" OWNER TO "postgres";


CREATE TYPE "public"."TodoType" AS ENUM (
    'TASK',
    'PLAN',
    'EVENT'
);


ALTER TYPE "public"."TodoType" OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."Account" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "type" "text" NOT NULL,
    "provider" "text" NOT NULL,
    "providerAccountId" "text" NOT NULL,
    "refresh_token" "text",
    "access_token" "text",
    "expires_at" integer,
    "token_type" "text",
    "scope" "text",
    "id_token" "text",
    "session_state" "text"
);


ALTER TABLE "public"."Account" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Folder" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "parentId" "text",
    "title" "text" NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "description" "text"
);


ALTER TABLE "public"."Folder" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."LibraryItem" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "folderId" "text",
    "type" "public"."LibraryItemType" NOT NULL,
    "externalId" "text" NOT NULL,
    "title" "text" NOT NULL,
    "metadata" "jsonb",
    "position" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."LibraryItem" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Note" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "timestampSeconds" integer,
    "content" "text" NOT NULL,
    "isImportant" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "youtubeId" "text"
);


ALTER TABLE "public"."Note" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Notification" (
    "id" "text" NOT NULL,
    "userId" "text",
    "title" "text" NOT NULL,
    "message" "text" NOT NULL,
    "read" boolean DEFAULT false NOT NULL,
    "global" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE "public"."Notification" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Playlist" (
    "id" "text" NOT NULL,
    "youtubeId" "text" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "thumbnail" "text",
    "channelId" "text",
    "channelName" "text",
    "totalDuration" integer DEFAULT 0 NOT NULL,
    "userId" "text" NOT NULL,
    "scheduledAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."Playlist" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."PlaylistMark" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "finished" boolean DEFAULT true NOT NULL,
    "finishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "youtubeId" "text" NOT NULL
);


ALTER TABLE "public"."PlaylistMark" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Session" (
    "id" "text" NOT NULL,
    "sessionToken" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "expires" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."Session" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."SiteSettings" (
    "id" "text" DEFAULT 'global'::"text" NOT NULL,
    "signupEnabled" boolean DEFAULT true NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."SiteSettings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Todo" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "text" "text" NOT NULL,
    "completed" boolean DEFAULT false NOT NULL,
    "type" "public"."TodoType" DEFAULT 'TASK'::"public"."TodoType" NOT NULL,
    "reminderAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."Todo" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."User" (
    "id" "text" NOT NULL,
    "name" "text",
    "email" "text",
    "emailVerified" timestamp(3) without time zone,
    "image" "text",
    "passwordHash" "text",
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "currentStreak" integer DEFAULT 0 NOT NULL,
    "deletionScheduledAt" timestamp(3) without time zone,
    "isBlocked" boolean DEFAULT false NOT NULL,
    "lastActiveDate" timestamp(3) without time zone,
    "lastLoginDate" timestamp(3) without time zone,
    "lastWeeklyReset" timestamp(3) without time zone,
    "longestStreak" integer DEFAULT 0 NOT NULL,
    "weeklyVideosWatched" integer DEFAULT 0 NOT NULL
);


ALTER TABLE "public"."User" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."UserSettings" (
    "id" "text" NOT NULL,
    "eyeTrackingEnabled" boolean DEFAULT true NOT NULL,
    "sensitivityMode" "text" DEFAULT 'moderate'::"text" NOT NULL,
    "inactivityTimeout" integer DEFAULT 30 NOT NULL,
    "soundAlerts" boolean DEFAULT true NOT NULL,
    "theme" "text" DEFAULT 'system'::"text" NOT NULL,
    "autoPlayNext" boolean DEFAULT true NOT NULL,
    "defaultPlaybackSpeed" double precision DEFAULT 1.0 NOT NULL,
    "eyeTrackingThreshold" double precision DEFAULT 0 NOT NULL,
    "onboardingCompleted" boolean DEFAULT false NOT NULL,
    "weeklyGoal" integer DEFAULT 10 NOT NULL,
    "userId" "text" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."UserSettings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."VerificationToken" (
    "identifier" "text" NOT NULL,
    "token" "text" NOT NULL,
    "expires" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."VerificationToken" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."Video" (
    "id" "text" NOT NULL,
    "youtubeId" "text" NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "thumbnail" "text",
    "duration" integer DEFAULT 0 NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "userId" "text" NOT NULL,
    "playlistId" "text",
    "scheduledAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE "public"."Video" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."VideoProgress" (
    "id" "text" NOT NULL,
    "userId" "text" NOT NULL,
    "youtubeId" "text" NOT NULL,
    "secondsWatched" integer DEFAULT 0 NOT NULL,
    "durationSeconds" integer,
    "completed" boolean DEFAULT false NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE "public"."VideoProgress" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."_prisma_migrations" (
    "id" character varying(36) NOT NULL,
    "checksum" character varying(64) NOT NULL,
    "finished_at" timestamp with time zone,
    "migration_name" character varying(255) NOT NULL,
    "logs" "text",
    "rolled_back_at" timestamp with time zone,
    "started_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "applied_steps_count" integer DEFAULT 0 NOT NULL
);


ALTER TABLE "public"."_prisma_migrations" OWNER TO "postgres";


ALTER TABLE ONLY "public"."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Folder"
    ADD CONSTRAINT "Folder_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."LibraryItem"
    ADD CONSTRAINT "LibraryItem_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Note"
    ADD CONSTRAINT "Note_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."PlaylistMark"
    ADD CONSTRAINT "PlaylistMark_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Playlist"
    ADD CONSTRAINT "Playlist_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."SiteSettings"
    ADD CONSTRAINT "SiteSettings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Todo"
    ADD CONSTRAINT "Todo_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."UserSettings"
    ADD CONSTRAINT "UserSettings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."VideoProgress"
    ADD CONSTRAINT "VideoProgress_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."Video"
    ADD CONSTRAINT "Video_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."_prisma_migrations"
    ADD CONSTRAINT "_prisma_migrations_pkey" PRIMARY KEY ("id");



CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "public"."Account" USING "btree" ("provider", "providerAccountId");



CREATE INDEX "Folder_parentId_idx" ON "public"."Folder" USING "btree" ("parentId");



CREATE INDEX "Folder_userId_idx" ON "public"."Folder" USING "btree" ("userId");



CREATE INDEX "LibraryItem_folderId_idx" ON "public"."LibraryItem" USING "btree" ("folderId");



CREATE INDEX "LibraryItem_userId_idx" ON "public"."LibraryItem" USING "btree" ("userId");



CREATE UNIQUE INDEX "LibraryItem_userId_type_externalId_key" ON "public"."LibraryItem" USING "btree" ("userId", "type", "externalId");



CREATE INDEX "Note_userId_idx" ON "public"."Note" USING "btree" ("userId");



CREATE INDEX "Note_userId_isImportant_idx" ON "public"."Note" USING "btree" ("userId", "isImportant");



CREATE INDEX "Note_youtubeId_idx" ON "public"."Note" USING "btree" ("youtubeId");



CREATE INDEX "Notification_global_idx" ON "public"."Notification" USING "btree" ("global");



CREATE INDEX "Notification_userId_idx" ON "public"."Notification" USING "btree" ("userId");



CREATE INDEX "PlaylistMark_userId_idx" ON "public"."PlaylistMark" USING "btree" ("userId");



CREATE UNIQUE INDEX "PlaylistMark_userId_youtubeId_key" ON "public"."PlaylistMark" USING "btree" ("userId", "youtubeId");



CREATE INDEX "Playlist_userId_idx" ON "public"."Playlist" USING "btree" ("userId");



CREATE UNIQUE INDEX "Playlist_youtubeId_key" ON "public"."Playlist" USING "btree" ("youtubeId");



CREATE UNIQUE INDEX "Session_sessionToken_key" ON "public"."Session" USING "btree" ("sessionToken");



CREATE INDEX "Todo_userId_idx" ON "public"."Todo" USING "btree" ("userId");



CREATE UNIQUE INDEX "UserSettings_userId_key" ON "public"."UserSettings" USING "btree" ("userId");



CREATE INDEX "User_email_idx" ON "public"."User" USING "btree" ("email");



CREATE UNIQUE INDEX "User_email_key" ON "public"."User" USING "btree" ("email");



CREATE INDEX "User_lastActiveDate_idx" ON "public"."User" USING "btree" ("lastActiveDate");



CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "public"."VerificationToken" USING "btree" ("identifier", "token");



CREATE UNIQUE INDEX "VerificationToken_token_key" ON "public"."VerificationToken" USING "btree" ("token");



CREATE INDEX "VideoProgress_userId_completed_idx" ON "public"."VideoProgress" USING "btree" ("userId", "completed");



CREATE INDEX "VideoProgress_userId_idx" ON "public"."VideoProgress" USING "btree" ("userId");



CREATE UNIQUE INDEX "VideoProgress_userId_youtubeId_key" ON "public"."VideoProgress" USING "btree" ("userId", "youtubeId");



CREATE INDEX "Video_playlistId_idx" ON "public"."Video" USING "btree" ("playlistId");



CREATE INDEX "Video_userId_idx" ON "public"."Video" USING "btree" ("userId");



CREATE UNIQUE INDEX "Video_userId_youtubeId_key" ON "public"."Video" USING "btree" ("userId", "youtubeId");



ALTER TABLE ONLY "public"."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Folder"
    ADD CONSTRAINT "Folder_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "public"."Folder"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Folder"
    ADD CONSTRAINT "Folder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."LibraryItem"
    ADD CONSTRAINT "LibraryItem_folderId_fkey" FOREIGN KEY ("folderId") REFERENCES "public"."Folder"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."LibraryItem"
    ADD CONSTRAINT "LibraryItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Note"
    ADD CONSTRAINT "Note_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."PlaylistMark"
    ADD CONSTRAINT "PlaylistMark_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Playlist"
    ADD CONSTRAINT "Playlist_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Todo"
    ADD CONSTRAINT "Todo_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."UserSettings"
    ADD CONSTRAINT "UserSettings_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."VideoProgress"
    ADD CONSTRAINT "VideoProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."Video"
    ADD CONSTRAINT "Video_playlistId_fkey" FOREIGN KEY ("playlistId") REFERENCES "public"."Playlist"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."Video"
    ADD CONSTRAINT "Video_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON UPDATE CASCADE ON DELETE CASCADE;





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";








































































































































































GRANT ALL ON TABLE "public"."Account" TO "anon";
GRANT ALL ON TABLE "public"."Account" TO "authenticated";
GRANT ALL ON TABLE "public"."Account" TO "service_role";



GRANT ALL ON TABLE "public"."Folder" TO "anon";
GRANT ALL ON TABLE "public"."Folder" TO "authenticated";
GRANT ALL ON TABLE "public"."Folder" TO "service_role";



GRANT ALL ON TABLE "public"."LibraryItem" TO "anon";
GRANT ALL ON TABLE "public"."LibraryItem" TO "authenticated";
GRANT ALL ON TABLE "public"."LibraryItem" TO "service_role";



GRANT ALL ON TABLE "public"."Note" TO "anon";
GRANT ALL ON TABLE "public"."Note" TO "authenticated";
GRANT ALL ON TABLE "public"."Note" TO "service_role";



GRANT ALL ON TABLE "public"."Notification" TO "anon";
GRANT ALL ON TABLE "public"."Notification" TO "authenticated";
GRANT ALL ON TABLE "public"."Notification" TO "service_role";



GRANT ALL ON TABLE "public"."Playlist" TO "anon";
GRANT ALL ON TABLE "public"."Playlist" TO "authenticated";
GRANT ALL ON TABLE "public"."Playlist" TO "service_role";



GRANT ALL ON TABLE "public"."PlaylistMark" TO "anon";
GRANT ALL ON TABLE "public"."PlaylistMark" TO "authenticated";
GRANT ALL ON TABLE "public"."PlaylistMark" TO "service_role";



GRANT ALL ON TABLE "public"."Session" TO "anon";
GRANT ALL ON TABLE "public"."Session" TO "authenticated";
GRANT ALL ON TABLE "public"."Session" TO "service_role";



GRANT ALL ON TABLE "public"."SiteSettings" TO "anon";
GRANT ALL ON TABLE "public"."SiteSettings" TO "authenticated";
GRANT ALL ON TABLE "public"."SiteSettings" TO "service_role";



GRANT ALL ON TABLE "public"."Todo" TO "anon";
GRANT ALL ON TABLE "public"."Todo" TO "authenticated";
GRANT ALL ON TABLE "public"."Todo" TO "service_role";



GRANT ALL ON TABLE "public"."User" TO "anon";
GRANT ALL ON TABLE "public"."User" TO "authenticated";
GRANT ALL ON TABLE "public"."User" TO "service_role";



GRANT ALL ON TABLE "public"."UserSettings" TO "anon";
GRANT ALL ON TABLE "public"."UserSettings" TO "authenticated";
GRANT ALL ON TABLE "public"."UserSettings" TO "service_role";



GRANT ALL ON TABLE "public"."VerificationToken" TO "anon";
GRANT ALL ON TABLE "public"."VerificationToken" TO "authenticated";
GRANT ALL ON TABLE "public"."VerificationToken" TO "service_role";



GRANT ALL ON TABLE "public"."Video" TO "anon";
GRANT ALL ON TABLE "public"."Video" TO "authenticated";
GRANT ALL ON TABLE "public"."Video" TO "service_role";



GRANT ALL ON TABLE "public"."VideoProgress" TO "anon";
GRANT ALL ON TABLE "public"."VideoProgress" TO "authenticated";
GRANT ALL ON TABLE "public"."VideoProgress" TO "service_role";



GRANT ALL ON TABLE "public"."_prisma_migrations" TO "anon";
GRANT ALL ON TABLE "public"."_prisma_migrations" TO "authenticated";
GRANT ALL ON TABLE "public"."_prisma_migrations" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































